* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgba(5, 4, 4, 0.1);
    --primary-color: rgb(210, 184, 228);
    --secondary-color: rgb(34, 38, 99);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

main,
footer,
.sep {
    margin: 0 auto;
    max-width: 100%;
}

header {
    margin: 0 auto;
    max-width: 100%;
}

main {
    margin: 0 auto;
    max-width: 100%;
}

body {
    color: white;
    background-color: var(--primary-color);
    font-family: var(--body-font);
}


div,
.sep {
    display: grid;
    align-items: center;
}

#about {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 1rem;
    padding: 30px;
}

.card {
    grid-row: 1;
}

.card1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card1 img {
    width: 220px;
    height: auto;
    float: right;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
}

#dev {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 1rem;
}

#course-title,
.about,
.wed,
footer {
    background-color: var(--secondary-color);
}

#course-title,
.about,
.wed {
    font-size: 2rem;
}

#course-title,
h1,
h2 {
    text-align: center;
}

#course-title,
nav a,
.about,
.wed {
    display: block;
}

nav {
    background-color: rgb(77, 7, 99);

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav li {
    flex: 1 1 100%;
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.me,
.FCT,
h1,
h2 {
    color: black;
}

h2 {
    border-bottom: var(--border);
}

.card2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card2 img {
    width: 200px;
    height: auto;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

span {
    font-weight: 100;
}

.dev ul {
    display: block;
    align-items: center;
    list-style-type: circle;
}

footer {
    margin-top: 1em;
    border-top: var(--border);
    text-align: center;
}